[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-mon = ">=2.0"
tabulate = ">=0.9"

[scripts]
test = "pymon ./paws-n-cart.py"
test_basic = "python ./paws-n-cart.py"

[dev-packages]

[requires]
python_version = "3.11"
